<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar-selector">
    <div th:if="${#authentication.authorities.contains('ROLE_ADMIN')}">
        <div th:replace="~{fragments/sidebar-admin :: sidebar-admin}"></div>
    </div>
    <div th:elif="${#authentication.authorities.contains('ROLE_AGENT')}">
        <div th:replace="~{fragments/sidebar-agent :: sidebar-agent}"></div>
    </div>
    <div th:unless="${#authentication.authorities.contains('ROLE_ADMIN')} or ${#authentication.authorities.contains('ROLE_AGENT')}">
        <div th:replace="~{fragments/sidebar-abonne :: sidebar-abonne}"></div>
    </div>
</div>
</body>
</html>